h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 10vh;
  line-height: 10vh;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
}

h3 {
  margin-top: 10px;
  margin-bottom: 25px;
  color: #6b6b6b;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  color: #6b6b6b;
  font-size: 16px;
  line-height: 30px;
}

a {
  color: #000;
  text-decoration: underline;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section.center {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 0vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #f2f2f2;
  background-image: none;
}

.section.wide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1b1b1b;
}

.section.wide.img {
  padding-bottom: 0vh;
}

.section.wide.purple {
  padding-top: 15vh;
  padding-bottom: 15vh;
  background-image: url('../images/wavy-bg.svg'), linear-gradient(135deg, #3c98ff, #602bb6);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
}

.section.center {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 0vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #9356f8;
  background-image: linear-gradient(135deg, #6000ff, #2fa7ff);
}

.hero {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding: 0px 10vw;
  border: 1px none #000;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.nav-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  border-bottom: 1px none hsla(0, 0%, 100%, 0.1);
  color: #fff;
}

.body {
  background-color: transparent;
  font-family: 'Gothic A1', sans-serif;
}

.feature-content {
  width: 50vw;
  max-width: 450px;
  padding-right: 4vw;
  padding-left: 4vw;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px none #000;
}

.feature-content.icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
  max-width: none;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
}

.feature-content.icons.numbers {
  width: 25%;
}

.button {
  position: static;
  display: block;
  overflow: visible;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 40px;
  float: none;
  clear: both;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: background-color 500ms cubic-bezier(.789, .159, .25, 1), color 200ms cubic-bezier(.789, .159, .25, 1);
  transition: background-color 500ms cubic-bezier(.789, .159, .25, 1), color 200ms cubic-bezier(.789, .159, .25, 1);
  font-family: 'Avenir 03', sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  text-align: center;
  -o-object-fit: contain;
  object-fit: contain;
}

.button:hover {
  background-color: #fff;
  color: #6b6b6b;
}

.button.contact {
  margin-left: 10px;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px hsla(0, 0%, 100%, 0.2);
  font-family: 'Avenir 03', sans-serif;
}

.button.contact:hover {
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
}

.button.form-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1), cubic-bezier(.215, .61, .355, 1);
  transition-timing-function: cubic-bezier(.215, .61, .355, 1), cubic-bezier(.215, .61, .355, 1);
}

.button.form-button:hover {
  background-color: #000;
  color: #fff;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrap {
  display: block;
  overflow: auto;
  max-width: 700px;
  padding-top: 20px;
  padding-bottom: 40px;
  -ms-grid-row-align: center;
  align-self: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: center;
}

.title {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px none #2e2e2e;
  font-family: 'Avenir 03', sans-serif;
  color: #a8a8a8;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.image-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.button-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-top: 5vh;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-image {
  position: absolute;
  right: 3vw;
  bottom: 0px;
  height: 85vh;
}

.black-text {
  margin-top: 0px;
  font-family: 'Avenir 09', sans-serif;
  color: #000;
}

.hero-content {
  position: relative;
  z-index: 90;
  width: 100%;
  padding-right: 10vh;
  padding-left: 10vw;
  background-color: #fc2a2a;
}

.feature-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-right: 10vw;
  padding-left: 10vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
}

.feature-wrap.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.feature-wrap.logos {
  height: auto;
  margin-top: 0vh;
  margin-bottom: 0vh;
  padding-top: 0vh;
  padding-bottom: 0vh;
  border-style: none;
}

.feature-wrap.icons {
  padding-right: 0vw;
  padding-left: 0vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.feature-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
}

.black {
  font-family: 'Avenir 03', sans-serif;
  color: #000;
}

.hero-subhead {
  margin-right: auto;
  margin-left: auto;
  font-family: 'Avenir 03', sans-serif;
  color: #fff;
  text-align: center;
}

.bottom-image-wrap {
  position: relative;
  overflow: hidden;
  height: auto;
  max-width: 100%;
}

.feature-icon {
  height: 50px;
  margin-bottom: 30px;
}

.purple {
  color: #b32e6e;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1b1b1b;
}

.footer-link {
  margin-right: 15px;
  margin-left: 15px;
  font-family: 'Avenir 03', sans-serif;
  color: #6b6b6b;
  font-size: 12px;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
}

.footer-list {
  padding-top: 29px;
  padding-bottom: 29px;
  font-family: 'Avenir 05', sans-serif;
}

.form-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.input {
  height: 70px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 20px;
  clear: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #fff;
  box-shadow: inset 0 0 0 0 #fc0a7e;
  -webkit-transition: box-shadow 300ms cubic-bezier(.215, .61, .355, 1);
  transition: box-shadow 300ms cubic-bezier(.215, .61, .355, 1);
  font-family: 'Avenir 05', sans-serif;
  color: #000;
}

.input:hover {
  box-shadow: inset 0 0 0 2px #fc0a7e;
}

.input:focus {
  box-shadow: inset 0 0 0 2px #fc0a7e;
}

.input::-webkit-input-placeholder {
  color: #555;
}

.input:-ms-input-placeholder {
  color: #555;
}

.input::-ms-input-placeholder {
  color: #555;
}

.input::placeholder {
  color: #555;
}

.arrow {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.quote-slider {
  width: 90vw;
  height: 60vh;
  margin-top: 10vh;
  background-color: transparent;
}

.slider-arrow {
  color: #d6d6d6;
}

.quote-wrap {
  display: block;
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.quote-attribution {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.quote-dash {
  width: 30px;
  height: 1px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #d3d3d3;
}

.quote-icon {
  margin-bottom: 45px;
}

.slide-nav {
  font-size: 7px;
}

.number {
  font-family: 'Avenir 05', sans-serif;
  font-size: 60px;
  line-height: 90px;
}

.nav-logo-wrap {
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.heading-3 {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Avenir 03', sans-serif;
  font-weight: 700;
  text-align: center;
}

.heading-4 {
  position: static;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  font-family: 'Avenir 09', sans-serif;
  color: #fff;
  text-align: center;
}

.heading-5 {
  font-family: 'Avenir 05', sans-serif;
}

.heading-8 {
  font-family: 'Avenir 05', sans-serif;
}

.heading-9 {
  font-family: 'Avenir 05', sans-serif;
}

.div-block-13 {
  height: 40px;
}

.paragraph-2 {
  font-family: 'Avenir 09', sans-serif;
}

.button-2 {
  position: static;
  display: inline-block;
  overflow: visible;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 42px 20px 40px;
  float: left;
  border-radius: 3px;
  background-color: #955df1;
  -webkit-transition: background-color 500ms cubic-bezier(.789, .159, .25, 1), color 200ms cubic-bezier(.789, .159, .25, 1);
  transition: background-color 500ms cubic-bezier(.789, .159, .25, 1), color 200ms cubic-bezier(.789, .159, .25, 1);
  font-family: 'Avenir 03', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  text-align: right;
}

.button-2:hover {
  background-color: #fff;
  color: #6b6b6b;
}

.button-2-copy {
  position: static;
  display: inline-block;
  overflow: visible;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 42px 20px 40px;
  float: right;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: background-color 500ms cubic-bezier(.789, .159, .25, 1), color 200ms cubic-bezier(.789, .159, .25, 1);
  transition: background-color 500ms cubic-bezier(.789, .159, .25, 1), color 200ms cubic-bezier(.789, .159, .25, 1);
  font-family: 'Avenir 03', sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  text-align: right;
}

.button-2-copy:hover {
  background-color: #fff;
  color: #6b6b6b;
}

.button-3 {
  display: inline-block;
  margin-right: 0px;
  padding: 20px 40px;
  border-radius: 3px;
  background-color: #955df1;
  -webkit-transition: background-color 500ms cubic-bezier(.789, .159, .25, 1), color 200ms cubic-bezier(.789, .159, .25, 1);
  transition: background-color 500ms cubic-bezier(.789, .159, .25, 1), color 200ms cubic-bezier(.789, .159, .25, 1);
  font-family: 'Avenir 03', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  text-align: center;
}

.button-3:hover {
  background-color: #fff;
  color: #6b6b6b;
}

.button-3.form-button {
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #fff;
  -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1), cubic-bezier(.215, .61, .355, 1);
  transition-timing-function: cubic-bezier(.215, .61, .355, 1), cubic-bezier(.215, .61, .355, 1);
  color: #000;
}

.button-3.form-button:hover {
  background-color: #000;
  color: #fff;
}

.paragraph-3 {
  font-family: 'Avenir 09', sans-serif;
}

.paragraph-4 {
  font-family: 'Avenir 09', sans-serif;
}

.paragraph-5 {
  font-family: 'Avenir 09', sans-serif;
  font-weight: 400;
}

.paragraph-6 {
  font-family: 'Avenir 09', sans-serif;
}

.paragraph-7 {
  font-family: 'Avenir 09', sans-serif;
}

.paragraph-8 {
  font-family: 'Avenir 09', sans-serif;
}

.paragraph-9 {
  font-family: 'Avenir 09', sans-serif;
}

.heading-10 {
  font-family: 'Avenir 07', sans-serif;
}

.paragraph-10 {
  font-family: 'Avenir 06', sans-serif;
}

.paragraph-11 {
  font-family: 'Avenir 10', sans-serif;
}

.heading-11 {
  font-family: 'Avenir 06', sans-serif;
}

.paragraph-12 {
  font-family: 'Avenir 03', sans-serif;
  color: #fff;
}

.heading-12 {
  font-family: 'Avenir 09', sans-serif;
  color: #000;
  font-size: 5vh;
}

.div-block-14 {
  width: 80%;
  height: 3px;
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
}

.paragraph-13 {
  color: #fff;
}

.button-copy {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 40px;
  float: none;
  clear: both;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: background-color 500ms cubic-bezier(.789, .159, .25, 1), color 200ms cubic-bezier(.789, .159, .25, 1);
  transition: background-color 500ms cubic-bezier(.789, .159, .25, 1), color 200ms cubic-bezier(.789, .159, .25, 1);
  font-family: 'Avenir 03', sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  text-align: center;
}

.button-copy:hover {
  background-color: #fff;
  color: #6b6b6b;
}

.button-copy.contact {
  margin-left: 10px;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px hsla(0, 0%, 100%, 0.2);
  font-family: 'Avenir 03', sans-serif;
  color: #fff;
}

.button-copy.contact:hover {
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
}

.button-copy.form-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1), cubic-bezier(.215, .61, .355, 1);
  transition-timing-function: cubic-bezier(.215, .61, .355, 1), cubic-bezier(.215, .61, .355, 1);
}

.button-copy.form-button:hover {
  background-color: #000;
  color: #fff;
}

.image-3 {
  float: none;
  text-align: left;
}

.paragraph-14 {
  font-family: 'Avenir 09', sans-serif;
}

.paragraph-15 {
  font-family: 'Avenir 09', sans-serif;
}

.paragraph-16 {
  font-family: 'Avenir 09', sans-serif;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.button-4 {
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  font-family: 'Avenir 05', sans-serif;
  color: #000;
  font-size: 70px;
  line-height: 50px;
  text-align: center;
}

.hero-copy {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding: 0px 10vw;
  border: 1px none #000;
  background-color: #6e2ed8;
}

.div-block-15 {
  display: none;
}

.heading-13 {
  font-family: 'Avenir 05', sans-serif;
  color: #000;
  font-size: 5vh;
  line-height: 5vh;
}

.html-embed {
  display: block;
}

.footer-2 {
  position: relative;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  min-height: 570px;
  padding: 19px 20px 50px;
  background-color: #1d2256;
  background-image: linear-gradient(268deg, #4095f0, #0235c1);
  -o-object-fit: fill;
  object-fit: fill;
}

.footer-column-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.banner-title {
  margin-top: 30px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 45px;
  line-height: 54px;
}

.button-5 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 28px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, 0.49);
  border-radius: 50px;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}

.button-5:hover {
  border-color: #fff;
}

.button-5.color {
  border-color: transparent;
  background-color: #3e97f5;
  background-image: linear-gradient(94deg, #f23566, #f86e6e);
}

.button-5.color:hover {
  opacity: 0.86;
}

.button-5.line {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-color: #3e97f5;
  color: #dc5df7;
}

.button-5.line:hover {
  border-color: #dc5df7;
}

.introducing-text {
  margin-top: 30px;
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.introducing-text.with-color {
  padding-top: 20px;
  padding-left: 10px;
  color: #afafbb;
}

.info-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom: 1px solid #6753fa;
  background-color: transparent;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.info-content:hover {
  background-color: #3a1ffc;
}

.info-content.second {
  border-bottom-color: transparent;
}

.info-wrapper {
  position: fixed;
  left: auto;
  top: auto;
  right: 20px;
  bottom: 20px;
  z-index: 9998;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 50px;
  min-height: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 5px;
  background-color: #472efc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

.align-center {
  text-align: center;
}

.left-copyright-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hamburger-line {
  position: absolute;
  left: 50%;
  top: 50%;
  right: auto;
  bottom: auto;
  width: 50%;
  height: 2px;
  background-color: #000;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.shape-2 {
  position: absolute;
  left: 20%;
  top: -23%;
  right: auto;
  bottom: auto;
}

.shape-2.gray {
  left: -10%;
  top: 4%;
  right: auto;
  bottom: auto;
  display: inline-block;
}

.footer-title {
  margin-top: 5px;
  margin-bottom: 15px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.flex-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.footer-column {
  padding-top: 0px;
  padding-right: 50px;
  padding-left: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 33.333%;
  -ms-flex: 0 33.333%;
  flex: 0 33.333%;
  border-right: 1px solid rgba(167, 173, 228, 0.39);
}

.section-2 {
  position: relative;
  z-index: 1;
  height: 32.86057%;
  padding: 0px 30px 140px;
  background-color: #fff;
}

.section-2.gray {
  padding-top: 10px;
  background-color: #f7f8fc;
}

.section-2.gray {
  background-color: #f7f8fc;
}

.line-divider {
  width: 100%;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: rgba(167, 173, 228, 0.39);
}

.container {
  position: relative;
  z-index: 1;
  max-height: 1000px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container.in-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.in-sub {
  max-height: 400px;
  margin-top: 0px;
}

.container.in-sub {
  margin-top: -80px;
}

.nav-link {
  margin-left: 27px;
  padding: 5px 0px;
  background-color: transparent;
  opacity: 0.8;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.nav-link:hover {
  border-bottom-color: #cfcfcf;
  opacity: 1;
}

.nav-link.w--current {
  border-bottom-color: #6f81fd;
  opacity: 1;
  color: #fff;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.link-2 {
  display: inline-block;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  color: #6f81fd;
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
}

.link-2.white {
  font-family: 'PT Sans', sans-serif;
  color: #b7b7c7;
  font-size: 13px;
  font-style: normal;
}

.flex-left-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #dc5df7;
  background-image: none, none, none, linear-gradient(59deg, #472efc 17%, #dc5df7);
  background-position: 100% 50%, 100% 50%, 50% 100%, 0px 0px;
  background-size: cover, contain, contain, auto;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat;
}

.banner.sub {
  z-index: 2;
  overflow: visible;
  min-height: 550px;
}

.banner.sub.gray {
  min-height: 250px;
  background-image: linear-gradient(59deg, #0a25c2 17%, #3e97f5);
}

.banner.sub.gray {
  background-image: none, none, none, linear-gradient(59deg, #0a25c2 17%, #3e97f5);
  background-position: 100% 50%, 100% 50%, 50% 100%, 0px 0px;
  background-size: cover, contain, contain, auto;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat;
}

.copyright {
  margin-bottom: 0px;
  padding-left: 40px;
  color: #b7b7c7;
  font-size: 13px;
}

.shape-1 {
  position: absolute;
  left: auto;
  top: 60%;
  right: 0%;
  bottom: auto;
}

.shape-1.in-section {
  top: 68%;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-row.vertical {
  margin-top: 0px;
}

.footer-bottom {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #151946;
}

.nav-link-footer {
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0.8;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.nav-link-footer:hover {
  opacity: 1;
}

.brand-2 {
  overflow: hidden;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.button-text {
  margin-left: 7px;
  color: #3e97f5;
}

.button-text.no-image {
  margin-left: 0px;
  color: #fff;
}

.column-show {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.social-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  margin-right: 3px;
  margin-left: 3px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
}

.social-icon.facebook {
  background-color: #3b5998;
}

.social-icon.twitter {
  background-color: #2aa9e6;
}

.social-icon.insta {
  background-color: #952ebe;
}

.menu-button-2 {
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  margin-top: 0px;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.menu-button-2.w--open {
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
}

.social-wrapper.make-left {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.nav-link-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.navigation {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 75px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.21);
  background-color: hsla(0, 0%, 100%, 0);
}

.blog-content {
  margin-top: 0px;
  padding: 25px 30px;
  background-color: #fff;
}

.blog-title {
  margin-top: 0px;
  color: #000;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
}

.data-tag {
  margin-top: 15px;
  color: #b3b3bd;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.data-tag.no-margin {
  margin-top: 0px;
}

.blog-relative {
  position: relative;
}

.blog-wrapper {
  width: 100%;
  color: #121217;
  text-decoration: none;
}

.blog-wrapper.with-margin {
  margin-bottom: 30px;
}

.blog-image {
  color: #121217;
  text-decoration: none;
}

.category-tag {
  position: absolute;
  left: auto;
  top: 10px;
  right: 10px;
  bottom: auto;
  display: inline-block;
  padding: 5px 16px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.category-tag.relative {
  position: relative;
  top: 0px;
  right: 0px;
  margin-right: 15px;
}

.image-10 {
  max-width: 100%;
}

.top-margin {
  margin-top: 30px;
}

.top-margin.flex {
  display: block;
  margin-top: 0px;
}

.top-margin.flex.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog-title-post {
  color: #000;
}

.blog-post-photo {
  margin-top: 40px;
}

.top-title-text {
  margin-top: 15px;
  font-size: 36px;
}

.blog-post-wrapper {
  position: relative;
  z-index: 2;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 90px;
  background-color: #fff;
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.05);
}

.flex-with-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
  margin-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-6 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

html.w-mod-js *[data-ix="new-interaction"] {
  display: block;
}

html.w-mod-js *[data-ix="new-interaction-2"] {
  display: none;
  opacity: 0.4;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 34px;
    line-height: 44px;
  }
  h3 {
    font-size: 20px;
    line-height: 32px;
  }
  .section.center {
    height: auto;
    padding-top: 15vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section.center {
    height: auto;
    padding-top: 15vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero {
    padding-right: 0vw;
    padding-left: 0vw;
  }
  .nav {
    width: 100vw;
  }
  .nav-inner {
    width: 100vw;
  }
  .hero-image {
    position: relative;
    left: 0vw;
    top: auto;
    right: 0vw;
    bottom: 0px;
    display: block;
    width: 70%;
    height: auto;
    margin-right: auto;
    margin-bottom: 7vw;
    margin-left: auto;
  }
  .hero-content {
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .feature-wrap {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-right: 0vw;
    padding-left: 0vw;
  }
  .feature-wrap.logos {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .hero-subhead {
    font-size: 24px;
    line-height: 31px;
  }
  .bottom-image-wrap {
    height: auto;
    background-image: none;
  }
  .feature-icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .quote-slider {
    width: 100vw;
    height: auto;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .quote-wrap {
    width: 70vw;
  }
  .menu-icon {
    color: #fff;
    font-size: 40px;
  }
  .menu-button.w--open {
    background-color: #000;
  }
  .brand {
    padding-left: 18px;
  }
  .heading-3 {
    font-size: 8vw;
  }
  .hero-copy {
    padding-right: 0vw;
    padding-left: 0vw;
  }
  .div-block-15 {
    display: block;
    padding-top: 0%;
  }
  .footer-2 {
    position: static;
    top: 0px;
    bottom: 0px;
    display: block;
    overflow: visible;
    min-height: auto;
    margin-bottom: 176px;
    padding-top: 0px;
    padding-bottom: 82px;
    float: none;
  }
  .banner-title {
    font-size: 35px;
    line-height: 40px;
  }
  .button-5.color {
    margin-right: 250px;
    margin-bottom: 31px;
    margin-left: 250px;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .button-5.line {
    margin-right: 140px;
    margin-left: 140px;
  }
  .introducing-text {
    color: #000;
  }
  .introducing-text.with-color {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 17px;
    padding-top: 11px;
    padding-bottom: 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .left-copyright-flex {
    position: relative;
    overflow: visible;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .hamburger-line.white {
    background-color: #fff;
  }
  .shape-2.gray {
    top: 7%;
  }
  .flex-left {
    margin-top: 20px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .container {
    position: relative;
    display: block;
    overflow: visible;
    max-height: 1000px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .container.in-sub {
    margin-top: 0px;
  }
  .container.in-sub {
    margin-top: 0px;
  }
  .nav-link {
    margin-left: 0px;
  }
  .nav-menu {
    display: block;
    padding: 15px 20px;
    border-top: 1px solid rgba(33, 36, 45, 0.1);
    border-bottom: 1px solid rgba(33, 36, 45, 0.1);
    background-color: #1d2256;
  }
  .banner {
    min-height: 1100px;
  }
  .banner.sub {
    min-height: 400px;
  }
  .copyright {
    margin-bottom: 7px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .shape-1 {
    right: 3%;
  }
  .flex-row.vertical {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .footer-bottom {
    position: relative;
    left: auto;
    top: 80px;
    right: auto;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    width: 100%;
    height: 140px;
    margin-bottom: -3px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    clear: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    border: 1px none #000;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .image-9 {
    padding-right: 220px;
    padding-left: 220px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .column-show {
    margin-top: 16px;
  }
  .menu-button-2.w--open {
    background-color: transparent;
  }
  .social-wrapper.make-left {
    margin-top: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .navigation {
    position: absolute;
  }
  .blog-title-post {
    font-size: 26px;
  }
  .top-title-text {
    margin-top: 2px;
  }
  .blog-post-wrapper {
    width: 100%;
    padding: 32px 20px;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 28px;
    line-height: 38px;
  }
  .feature-content.icons {
    width: auto;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }
  .feature-content.icons.numbers {
    width: 50%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .button.form-button {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 3px;
  }
  .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: none;
    padding-right: 15vw;
    padding-left: 15vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hero-image {
    margin-bottom: 10vw;
  }
  .hero-content {
    margin-bottom: 5vh;
  }
  .feature-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .feature-wrap.icons {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .feature-wrap.icons.numbers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-link {
    display: inline-block;
    margin-bottom: 10px;
  }
  .form-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .input {
    padding-right: 22px;
    padding-left: 22px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px;
    text-align: center;
  }
  .quote-attribution {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .menu-icon {
    font-size: 30px;
  }
  .form-block {
    width: 100%;
  }
  .button-3.form-button {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 3px;
  }
  .button-copy.form-button {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 3px;
  }
  .div-block-15 {
    display: block;
    padding-top: 5%;
  }
  .footer-2 {
    position: relative;
    min-height: auto;
    margin-bottom: 0px;
    padding-bottom: 80px;
  }
  .footer-column-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .button-5.color {
    margin-right: 130px;
    margin-left: 130px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .left-copyright-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer-title {
    position: static;
    margin-top: 65px;
    text-align: center;
  }
  .flex-left {
    margin-top: 20px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .footer-column {
    margin-top: -31px;
    padding-right: 10px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border-right-color: transparent;
  }
  .section-2 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .container {
    display: block;
    clear: none;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    text-align: center;
  }
  .banner {
    min-height: 950px;
  }
  .copyright {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
  }
  .footer-bottom {
    padding-top: 0px;
    padding-bottom: 7px;
  }
  .nav-link-footer {
    text-align: center;
  }
  .brand-2 {
    padding-left: 0px;
  }
  .image-9 {
    padding-right: 100px;
    padding-left: 100px;
  }
  .social-wrapper.make-left {
    margin-top: 5px;
    padding-bottom: 12px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .navigation {
    min-height: 60px;
  }
  .blog-wrapper {
    margin-bottom: 30px;
  }
  .blog-title-post {
    font-size: 22px;
    line-height: 30px;
  }
  .top-title-text {
    font-size: 32px;
    line-height: 35px;
  }
  .blog-post-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 60px;
    line-height: 70px;
  }
  h3 {
    font-size: 16px;
  }
  .section.center {
    padding-bottom: 10vh;
  }
  .section.center {
    padding-bottom: 10vh;
  }
  .hero {
    padding-right: 0vw;
    padding-left: 0vw;
  }
  .nav-inner {
    width: 100vw;
  }
  .feature-content {
    width: auto;
  }
  .feature-content.icons.numbers {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
  }
  .button.contact {
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
  }
  .wrap {
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .image-2 {
    width: 100%;
  }
  .button-wrap {
    width: 90vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-image {
    width: 80%;
  }
  .feature-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feature-wrap.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feature-image {
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .feature-icon {
    margin-bottom: 20px;
  }
  .form-2 {
    width: 90vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .quote-slider {
    width: 100vw;
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .slider-arrow {
    font-size: 24px;
  }
  .left-arrow {
    width: 15vw;
  }
  .right-arrow {
    width: 15vw;
  }
  .number {
    font-size: 40px;
  }
  .heading-3 {
    font-size: 42px;
    line-height: 56px;
  }
  .button-copy.contact {
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
  }
  .hero-copy {
    padding-right: 0vw;
    padding-left: 0vw;
  }
  .div-block-15 {
    display: block;
    height: 0%;
    padding-top: 15px;
    padding-bottom: 0px;
  }
  .footer-2 {
    position: relative;
    margin-top: 0px;
    padding-top: 24px;
    padding-bottom: 182px;
  }
  .banner-title {
    font-size: 28px;
  }
  .button-5.color {
    margin-right: 40px;
    margin-left: 40px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .button-5.line {
    margin-right: 40px;
    margin-left: 40px;
  }
  .introducing-text.with-color {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 9px;
  }
  .left-copyright-flex {
    padding-right: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .shape-2 {
    display: none;
  }
  .footer-column {
    padding-right: 10px;
  }
  .section-2 {
    padding: 100px 15px;
  }
  .container {
    position: relative;
    margin-top: -50px;
  }
  .banner {
    min-height: 750px;
    padding-right: 10px;
    padding-left: 10px;
    background-size: cover, cover, contain, auto;
  }
  .banner.sub {
    min-height: 350px;
  }
  .copyright {
    display: inline-block;
    padding-left: 0px;
  }
  .footer-bottom {
    padding-left: 4px;
  }
  .image-9 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .social-wrapper.make-left {
    margin-top: 16px;
  }
  .navigation {
    margin-top: 30px;
    padding-top: 20px;
  }
  .blog-content {
    padding-right: 15px;
    padding-left: 15px;
  }
  .top-title-text {
    font-size: 28px;
  }
  .blog-post-wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }
  .top-title {
    margin-bottom: 50px;
  }
}

@font-face {
  font-family: 'Avenir 06';
  src: url('../fonts/Avenir-HeavyOblique-06.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir 04';
  src: url('../fonts/Avenir-BlackOblique-04.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir 03';
  src: url('../fonts/Avenir-Black-03.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir 05';
  src: url('../fonts/Avenir-Heavy-05.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir book 01';
  src: url('../fonts/Avenir-Book-01.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir 02';
  src: url('../fonts/Avenir-BookOblique-02.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir 07';
  src: url('../fonts/Avenir-Light-07.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir 11';
  src: url('../fonts/Avenir-Oblique-11.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir 10';
  src: url('../fonts/Avenir-MediumOblique-10.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir 09';
  src: url('../fonts/Avenir-Medium-09.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir 08';
  src: url('../fonts/Avenir-LightOblique-08.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir roman 12';
  src: url('../fonts/Avenir-Roman-12.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}